h1{
    color: blue;
    /* font-size: 100px; */
    /* text-decoration: line-through; */
    background-color: yellow;
}
/* *{
    background-color: pink;
} */
button{
    background-color: blue;
    color: white;
}